@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
    /*----- Color Varibles------ */
    ---Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    background: var(--Very-Light-Gray);
    overflow-x: hidden;
}

p {
    font-size: 15px;
}

.container {
    max-width: 1200px;
    padding: 50px 3rem;
    margin: 0 auto;
overflow: hidden;
}

/* ------Hero------- */
header {
    text-align: center;
}
header h1 {
    font-size: 1.35rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
}
.heading {
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

header p {
    color: var(--Grayish-Blue);
    padding-top: 20px;
    max-width: 500px;
    margin: auto;
    line-height: 1.5;
}

/* ------cards------- */

.cards {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.card img { 
    width: 70px;
    align-self: flex-end;
}

.card h3 {
    font-size: 1.1rem;
    color: var(--Very-Dark-Blue);
}

.card P{
    padding: 10px 0 20px;
    line-height: 2;
    color: var(--Grayish-Blue);
}

.card1 {
    border-top: 5px solid var(--Cyan);
}

.card2 {
    border-top: 5px solid var(---Red);
}

.card3 {
    border-top: 5px solid var(--Orange);
}

.card4 {
    border-top: 5px solid var(--Cyan);
}


/* Media Query For Larger Screen 800px and Above */

@media screen and (min-width:800px) {


    /* Typograph Size Adjustment for Larger screens  */

    header h1 {
        font-size: 2rem;
    }

    .card h3 {
        font-size: 1.2rem;
    }
    
    /* -----Card Positioning Using Grid----- */

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card1 {
        grid-row: 1/3;
        align-self: center;
    }
    .card3 {
        grid-row: 2/3;
    }
    
    .card4 {
        grid-row: 1/3;
        align-self: center;
    }
}
